
.grid-container {
  display: grid;
  gap: 0px;
}

.grid-row {
  display: grid;

}

.grid-item {
  border: 1px solid black;
  height: 40px;
  padding: 10px;
}
.grid-item.active {
  background-color: rebeccapurple;
}
